streamlit
pandas
openpyxl
PyPDF2
python-docx
requests
Pillow
markitdown[all]
langgraph
langchain
langsmith
langchain-core
langchain-community
langchain-anthropic
langchain-openai
zhipuai
beautifulsoup4
openai
websockets
mcp
python-dotenv
aiohttp
PyMuPDF
crewai
crewai-tools
chromadb
openpyxl
xlsxwriter
pysqlite3-binary